<table class="table table-striped">
  <thead class="table-dark">
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Adı</th>
          <th scope="col">Soyad</th>
          <th scope="col">Marka</th>
          <th scope="col">Kiralama Tarihi</th>
          <th scope="col">Kiradan Dönüş</th>       
         
         
        }

          <th scope="col">
           
          </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let rental of rentals">
          <th scope="row" > {{ rental.id}}</th>
    
          <td>{{rental.firstName }}</td>
          <td>{{ rental.lastName }}</td>
          <td>{{ rental.carName }}</td>
          <td>{{ rental.rentDate }}  </td>
          <td>{{ rental.returnDate }}  </td>
             
      </tr>
  </tbody>
</table>   <!-- <button class="btn btn-warning" >
        Güncelle
      </button>
              <button class="btn btn-danger mx-2" >
        Sil
      </button> -->