
 <div *ngFor="let car of cars">

    <img
    class="car-image"          
    [src]="getPath()+car.imagePath" 
    class="card-img-top"
    alt="Resim Yok"
    role="button"
    width="200"
    height="200"
  /> 

  <br><br>
<div class="input-group mb-3" >
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="{{car.brandName}}" aria-label="Username" aria-describedby="basic-addon1"> 
  </div>

  

  <div class="input-group mb-3" >
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="{{car.colorName}}" aria-label="Username" aria-describedby="basic-addon1"> 
  </div>
  
 
  <div class="input-group mb-3" >
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="{{car.modelYear}}" aria-label="Username" aria-describedby="basic-addon1"> 
  </div>
  
  <div class="input-group mb-3" >
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="{{car.dailyPrice}}" aria-label="Username" aria-describedby="basic-addon1"> 
  </div>
  
  <div class="input-group mb-3" >
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="{{car.description}}" aria-label="Username" aria-describedby="basic-addon1"> 
  </div>
   <div class="input-group mb-3" >
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="number" class="form-control" placeholder="{{car.dailyPrice}} ₺" aria-label="Username" aria-describedby="basic-addon1"> 
  </div> 

  

  <input  type="date"   id="date" [(ngModel)]="date"    >   

  <br>
<br>
<a    class="btn btn-primary"    (click)="getDateControl()" >  Araç Durumu Kontrol      </a><br>

<br>


  <a    class="btn btn-primary"  [style]=state   routerLink="/cars/payment/{{car.dailyPrice}}">  Ödemeye Git      </a><br>
  
</div>

