<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Listele
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="/cars/list" >Araçları Listele</a></li>
      <li><a class="dropdown-item" href="/brand/list"  >Markaları Listele</a></li>    
      <li><a class="dropdown-item" href="/colors/list"     >Renkleri Listele</a></li>
    </ul>
  </li>