<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Ürün Güncelle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="brandUpdateForm">
                    <div class="mb-3">
                        <label for="id" style="display: none;"><b>Marka Id</b></label>
                       <input type="number" id="brandId" formControlName="brandId" class="form-control" [(ngModel)]="brandId" style="display: none;" />  
                    </div>
                    <div class="mb-3">
                        <label for="brandName">Marka adı</label>
                        <div class="form-group">
                            <input type="text" id="brandName" formControlName="brandName" class="form-control" [(ngModel)]="brandName" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-warning"  routerLink="/brand/list" >Geri dön</button>
                <button class="btn btn-fill btn-success"  (click)="brandUpdate()" style="float: right;">Güncelle</button>
            </div>
        </div>
        
        <table>
            <thead> 
                <tr>    
                    <th>Kullanıcı </th>
                    <th>Kampanya Adı </th>
                   
                </tr>
            </thead>
        
        
            <tr *ngFor ="let brand of brands"  >  
                <td>{{brand.brandId}}</td>
                <td>{{brandName}}</td>         
                </tr>
            
        
        </table>
        



    </div>

</div>
