<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

   <div class="row g-3">
        
        <label for="exampleFormControlInput1" class="form-label">Marka Ara</label>         
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz" style="width: 200px;" >
      

    <div *ngIf="filterText" class="alert alert-succes">
    {{filterText}}  aradınız      
</div>



</div>

<div class="row">
  <div
    class="col-lg-4 col-md-6 shadow-lg p-3 mb-5 rounded"

    *ngFor="let car of cars | filterPipe:filterText "  >
      
  <div class="card border-0 mb-3" style="width: 18rem">
     
      <img
        class="car-image"
        routerLink="/cars/brand/{{car.carId}}"        
        [src]="getPath()+car.imagePath" 
        class="card-img-top"
        alt="Resim Yok"
        role="button"
        width="200"
        height="200"
      /> 
      
      <div class="card-body text-center">
          <h4>
            <a
              routerLink="/cars/brand/{{ car.carId }}"
              class="card-title text-decoration-none h5"
              style="color: #007bff"
             > {{ car.brandName }}
            </a>
          </h4>
        </div>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="float-start">Car Id</span>
            <span class="float-end">{{ car.carId }}</span>
          </li>
          <li class="list-group-item">
            <span class="float-start">Renk</span>
            <span class="float-end">{{ car.colorName |uppercase }}</span>
          </li>
          <li class="list-group-item">
            <span class="float-start">Model</span>
            <span class="float-end">{{ car.modelYear }}</span>
          </li>

          <li class="list-group-item">
            <span class="float-start">Açıklama</span>
            <span class="float-end">{{ car.description }}</span>
          </li>

          <li class="list-group-item">
            <span class="float-start">Kdv'li Fiyat</span>
            <span class="float-end">{{ car.dailyPrice  |vatAdded :18 | currency}}</span>
          </li>

          <p class="card-text text-center h3 mt-3">{{ car.dailyPrice }}₺</p>
        </ul>
        <div class="card-body">
          <div class="d-flex action justify-content-between">

            <!-- <a  (click)="addToCart(car)" class="btn btn-success">Sepete Ekle</a> -->

            <a class="btn btn-primary" routerLink="/cars/rental/{{car.carId}}" (click)="test()"  >Detay Görüntüle</a>
          </div>
        </div>
      </div>
    </div>
  </div>