<div class="content">
    <div class="col-md-12">
        <div class="card">
        <div    class="card-header"><h5 class="title">Araç Ekle</h5>  </div>
   <div class="card-body">               
      
 <form [formGroup]="carAddForm">
        
    <div class="mb-3">
    <label for="modelYear">Model Yılı</label>
              <div class="form-group">
            <input  type="number" id="modelYear" formControlName="modelYear"  class="form-control"    placeholder="Model"/>
         </div><br>
</div>

<div class="mb-3">
<label for="dailyPrice">Fiyat</label>          
         <div class="form-group">
            <input  type="number" id="dailyPrice" formControlName="dailyPrice"  class="form-control"    placeholder="Fiyat"/>
         </div><br>
</div>

 
<div class="mb-3">       
    <label for="description">Açıklama</label> 
         <div class="form-group" >
            <input  type="text" id="description" formControlName="description"  class="form-control"    placeholder="Açıklama"/>
         </div><br>
</div>



<div class="mb-3">    
    <label for="brandId">BrandId</label>
    <div class="form-group" >
       <input  type="number" id="brandId" formControlName="brandId"  class="form-control"    placeholder="BrandId"/>
    </div><br>
</div>

   
<div class="mb-3"> 
    <label for="ColorId">colorId</label>
    <div class="form-group" >
       <input  type="number" id="colorId" formControlName="colorId"  class="form-control"    placeholder="ColorId"/>
    </div><br>
</div>

 </form>
  
   </div>   
        <div class="card-footer"> 
           <button class="btn btn-fill btn-warning"  routerLink="/cars/list">
      Geri dön
    </button>
        <button class="btn btn-fill btn btn-success" style="float: right" (click)="add()" > Ekle</button>
        </div>
    </div>
    </div>
    </div>

   
